.ludobg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* scale to cover viewport */
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.12; /* subtle background */
  z-index: 0;
}

.ludobgContain {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}
